*{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

header{
    background-color: #FFFFFF;
    height: 70px;
}

body{
    background-color: #f6f8f9;
}

#toboolist-logo{
    font-size: 3rem;
    font-weight: 700;
}

img{
    margin: 10px 0px 10px 20px;
    display: inline-block;
    vertical-align: center;
}