*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: #f6f8f9;
    
}

header{
    background-color: #FFFFFF;
    font-size: 2rem;
}

img{
    margin: 10px 0px 10px 20px;
    vertical-align: middle;    
}

.text-inline{
    display: inline;    
    vertical-align: middle;
}

.button-menu{
    margin: 50px 100px 3px;
    border-radius: 10px 10px 0px 0px ;
    background-color: #FFFFFF;
    padding: 30px 80px 15px;
}

button{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 300;
}

.enabled{
    background-color: #47abf1;
    color: #FFFFFF;
    border: 2px solid #47abf1;
}

.disabled{
    background-color: #FFFFFF;
    color: #cacaca;
    border: 2px solid #cacaca;
}

.list-display{
    margin: 0px 100px;
    border-radius: 0px 0px 10px 10px;
    background-color: #FFFFFF;
    padding: 1px 110px 50px;
}

.head{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 50px;
}

.task{
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 10px;
}

.pill{
   font-size: 0.7rem;
   font-weight: 300;
   color: #FFFFFF;
   height: auto;
   vertical-align: middle;
   border-radius: 5px;
   padding:5px;
}

.editorial{
    background-color: #47abf1;
}

.q1{

}

.recruiting{

}

.mobile{

}

.website{

}

.sales{

}