*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FFFFFF;
    height: 70px;
}

.text-inline{
    display: inline;
}

body{
    background-color: #f6f8f9;
}

img{
    margin: 10px 0px 10px 20px;
    vertical-align: middle;    
}